{% extends 'votephoto/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <br>
    <div class="fs-3">Текущие данные фотографии:</div>
    <img src="{{photo.photo_510x510.url}}">
    <br><br>
    <form method="post" enctype="multipart/form-data" action="{% url 'loading_new_photo' photo.pk %}" id="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-dark" > Изменить </button>
        <button type="submit" class="btn btn-dark" ><a href="{% url 'all_photo' %}" class="text-white dropdown-item"> Вернуться назад </a></button>
    </form>

    <script>
        function updateContentNamePhoto(){
            let name_photo = '{{photo.name}}';
            let content_photo = '{{photo.content}}';
            console.log(name_photo, content_photo);
            document.getElementById('form').querySelector('[name="name"]').value = name_photo;
            document.getElementById('form').querySelector('[name="content"]').value = content_photo;
        }
        window.onload = updateContentNamePhoto;
    </script>
{% endblock %}
