{% extends 'votephoto/base.html' %}


{% block content %}

    {% for p in photo %}
       <div class="card mb-3">
        <div class="card-header fs-5 text-center ">
            <a href="{{ p.get_absolute_url }}" class="text-decoration-none text-info">{{ p.namePhoto }}</a>
        </div>
            <div class="card-body">
                <div class="media">
                    <img src="{{ p.photo_510x510.url }}" style=" border: 8px solid #ffffff;" align="left" alt="{{ p.namePhoto }}" width="510" height="510" class="mr-3">
                    <div class="media body fs-4">
                    <p class="card-text fw-bold">Описание к фотографии:</p><p>{{ p.сontentPhoto|safe|linebreaks|truncatewords:20 }}</p>
                    <a href="{{ p.get_absolute_url }}" class="btn btn-dark">Узнать больше о фотографии</a>
                    </div>
                </div>
        </div>
        <div>
<!-- Включаем теги из votephotoTags -->
                {% load votephotoTags %}
<!-- Передаём getAllLikesIsPhoto id фотографии -->
                {% getAllLikesIsPhoto p.photoID as likeOnePhoto  %}
<!-- Передаём TrueAndFalseLikeUserPhoto id юзера и фотографии -->
                {% TrueAndFalseLikeUserPhoto p.photoID user.pk as TrueOrFalseLike%}
<!-- Проверяем есть ли лайк у юзера, чтобы понять какую кнопку отобразить-->
            {% if user.is_authenticated %}
                {% if TrueOrFalseLike %}
                        <div class="row row-cols-auto">
                            <div class="col"></div>
                            <button id="LikeAndNoLike{{p.photoID}}" class="btn btn-danger col-2" onclick="addLikeAJAX({{p.photoID}})">{{ likeOnePhoto }}</button>
                        </div>
                    {% else %}
                        <div class="row row-cols-auto">
                            <div class="col"></div>
                            <button id="LikeAndNoLike{{p.photoID}}" class="btn btn-outline-secondary col-2" onclick="addLikeAJAX({{p.photoID}})">{{ likeOnePhoto }}</button>
                        </div>
                    {% endif %}
                <br>
            {% else %}
                 <div class="row row-cols-auto">
                    <div class="col"></div>
                    <button class="btn btn-outline-secondary col-2">{{ likeOnePhoto }}</button>
                 </div>
                 <br>
            {% endif %}
        </div>
            <div class="card-footer text-muted">
                {{ p.dateCreatePhoto }}
                <br>
                <div> Автор: {{ p.user_id }} </div>
            </div>
        </div>
    {% empty %}
        <h4>Новостей нет!</h4>
    {% endfor %}
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script>
        async function addLikeAJAX(photo_id){
            console.log("click button");
            console.log(photo_id);
            let likeCountElement = document.getElementById('LikeAndNoLike' + photo_id);
            response = await fetch(
                {% url 'addlike' %},
                {
                method: "POST",
                body: JSON.stringify({photoID: photo_id, dad: 'dad'}),
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    'X-CSRFToken': "{{csrf_token}}",
                }
                });
                if (response.status==201){
                    console.log("AJAX WORKED ADD LIKE");
                    let page = document.querySelector('#LikeAndNoLike' + photo_id);
                    page.classList.toggle('btn-outline-secondary');
                    page.classList.toggle('btn-danger');
                    likeCountElement.innerText = Number(likeCountElement.innerText) + 1;
                } else if(response.status==200){
                    console.log("AJAX WORKED");
                    let page = document.querySelector('#LikeAndNoLike' + photo_id);
                    page.classList.toggle('btn-outline-secondary');
                    page.classList.toggle('btn-danger');
                    if (likeCountElement.innerText != 0){
                    likeCountElement.innerText = Number(likeCountElement.innerText) - 1;
                    }
                }  else {
                console.log("AJAX ERROR");
                }
            };
    </script>

{% endblock %}