{% extends 'votephoto/base.html' %}


{% block content %}

    {% for p in photo %}
       <div class="card mb-3">
        <div class="card-header fs-5 text-center ">
            <a href="{{ p.get_absolute_url }}" class="text-decoration-none text-info">{{ p.namePhoto }}</a>
        </div>
            <div class="card-body">
                <div class="media">
                    <img src="{{ p.photo_510x510.url }}" style=" border: 8px solid #ffffff;" align="left" alt="{{ p.namePhoto }}" width="510" height="510" class="mr-3">
                    <div class="media body fs-4">
                    <p class="card-text fw-bold">Описание к фотографии:</p><p>{{ p.сontentPhoto|safe|linebreaks|truncatewords:20 }}</p>
                    <a href="{{ p.get_absolute_url }}" class="btn btn-dark">Узнать больше о фотографии</a>
                    </div>
                </div>
        </div>
        <div>
            <form method="post" action="{% url 'addlike' p.pk %}">
                {% csrf_token %}
<!--                {{ like.count }}-->
<!-- Включаем теги из votephotoTags -->
                {% load votephotoTags %}
<!-- Передаём getAllLikesIsPhoto id фотографии -->
                {% getAllLikesIsPhoto p.photoID as likeOnePhoto  %}
<!-- Передаём TrueAndFalseLikeUserPhoto id юзера и фотографии -->
                {% TrueAndFalseLikeUserPhoto p.photoID user.pk as TrueOrFalseLike%}
<!-- Проверяем есть ли лайк у юзера, чтобы понять какую кнопку отобразить-->
                {% if TrueOrFalseLike %}
                    <div class="row row-cols-auto">
                        <div class="col"></div>
                        <button type="submit" class="btn btn-danger col-2"> &#10084; {{ likeOnePhoto }}</button>
                    </div>
                {% else %}
                    <div class="row row-cols-auto">
                        <div class="col"></div>
                        <button type="submit" class="btn btn-outline-secondary col-2">&#10084; {{ likeOnePhoto }}</button>
                    </div>
                {% endif %}
                <br>
            </form>
        </div>
            <div class="card-footer text-muted">
                {{ p.dateCreatePhoto }}
                <br>
                <div> Автор: {{ p.user_id }} </div>
            </div>
        </div>
    {% empty %}
        <h4>Новостей нет!</h4>
    {% endfor %}

{% endblock %}