{% extends 'votephoto/base.html' %}
{% load votephotoTags %}

{% block content %}
    {% csrf_token %}
    {% if request.user.is_authenticated %}
        <div class="h1"> Имя вашего профиля: {{user.username}} </div>
        <div> ФИО: {{user.fio}}</div>
    {% else %}
        <h1> Вы не авторизованы, войдите в профиль. </h1>
        <br>
        <div><a class="h4 text-dark text-decoration-none" href="{% url 'login' %}">  Нажмите, если хотите войти в   профиль </a></div>
        <br>
        <div><a class="h4 text-dark text-decoration-none" href="{% url 'register' %}">  Нажмите, если хотите пройти регистрацию </a></div>
    {% endif %}
{% endblock %}