<div id="postsElem">
    {% for p in photo %}
<!-- Включаем теги из votephotoTags -->
    {% load votephotoTags %}
<!-- Передаём getAllLikesIsPhoto id фотографии -->
    {% getAllLikesIsPhoto p.pk as likeOnePhoto  %}
<!-- Передаём TrueAndFalseLikeUserPhoto id юзера и фотографии -->
    {% TrueAndFalseLikeUserPhoto p.pk user.pk as TrueOrFalseLike%}
<!-- Смотрим какое кол-во комментариев имеет фотография -->
    {% CountCommentOnePhotoToMain p.pk as CountComment %}
    {% CountComment p.pk as CountCommentNoContent %}
       <div class="card mb-3">
        <div class="card-header fs-5 text-center ">
            <a href="{{ p.get_absolute_url }}" class="text-decoration-none text-info">{{ p.name }}</a>
        </div>
            <div class="card-body">
                <div class="media">
                    <img src="{{ p.photo_510x510.url }}" style="border: 8px solid #ffffff;" align="left" alt="{{ p.name }}" width="510" height="510" class="mr-3">
                    <div class="media body fs-4">
                        <p class="card-text fw-bold">Описание к фотографии:</p><p>{{ p.content|safe|linebreaks|truncatewords:20 }}</p>
                        <a href="{{ p.get_absolute_url }}" class="btn btn-dark">Узнать больше о фотографии</a>
                    </div>
                </div>
        </div>
        <div>
            <!-- Проверяем есть ли лайк у юзера, чтобы понять какую кнопку отобразить-->
            {% if TrueOrFalseLike %}
                <div class="row row-cols-auto">
                    <div class="col"></div>
                        <div class="text-danger fs-5" id="TextLike{{p.pk}}">Мне нравится:</div>
                       <button id="LikeAndNoLike{{p.pk}}" class="btn btn-danger col-2" onclick="addLikeAJAX({{p.pk}})">{{ likeOnePhoto }}</button>
                </div>
            {% else %}
                <div class="row row-cols-auto">
                    <div class="col"></div>
                        <div class="text-secondary fs-5" id="TextLike{{p.pk}}">Мне нравится:</div>
                        <button id="LikeAndNoLike{{p.pk}}" class="btn btn-outline-secondary col-2" onclick="addLikeAJAX({{p.pk}})">{{ likeOnePhoto }}</button>
                </div>
            {% endif %}
            <br>
        </div>
            <div class="card-footer text-muted">
                {{ p.date_create }}
                <br>
                <div> Автор: {{ p.user }} </div>
            </div>
        </div>
        {% if CountCommentNoContent != 0%}
<!--            <div class="text-center fs-4">Комментарии к фотографии:</div>-->
<!--            <br>-->
            <div class="text-center">
                <a href="{{ p.get_absolute_url }}" class="btn btn-dark ">Комментариев: {{CountCommentNoContent}}</a>
            </div>
            {% for comment in CountComment %}
                <section style="background-color: white">
                  <div class="container my-2 py-11 text-dark">
                    <div class="row d-flex justify-content-center">
                      <div class="col-md-12 col-lg-8 col-xl-9">
                        <div class="d-flex flex-start">
                          <img class="rounded-circle shadow-1-strong me-3"
                            src="{{comment.user.photo_by_user.url}}" alt="avatar" width="65"
                            height="65" />
                          <div class="card w-100">
                            <div class="card-body p-3">
                              <div>
                                <h5>{{comment.user.username}}</h5>
                                <p class="small">5 hours ago</p>
                                <p>{{ comment.content }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
            {% endfor %}
            <br>
            <br><br><br>
        {% endif %}
    {% empty %}
        <h4>Фотографий по запросу не найдено.</h4>
    {% endfor %}
</div>