{% extends "admin/index.html" %}

{% comment %}{% block extrastyle %}
    {{ block.super }}
    {# --- custom styles --- #}
{% endblock %}{% endcomment %}

{% block content %}
    <div class="custom_block">
        <h2><a href="{% url 'photoNotVerified' %}">Фотографии требующие проверки.</a></h2>
    </div>
    <div class="custom_block">
        <h2><a href="{% url 'photoUpdate' %}">Фотографии на обновление.</a></h2>
    </div>
<!--    <div class="custom_block">-->
<!--        <h2><a href="{% url 'photoDelete' %}">Фотографии на удаление.</a></h2>-->
<!--    </div>-->
    <br>

    {{ block.super }}
{% endblock %}