{% extends 'vote_photo/base.html' %}

{% block content %}
    <p>
        Сортировка:
        <button id="sortingButton" type="button" class="btn btn-outline-light btn-dark" onclick="sortedPhoto('{% url 'sorting_all_photo_one_user' 'Verified' %}')">Проверенные фотографии</button>
        <button type="button" class="btn btn-outline-light btn-dark" onclick="sortedPhoto('{% url 'sorting_all_photo_one_user' 'On check' %}')">Фотографии на проверке</button>
        <button type="button" class="btn btn-outline-light btn-dark" onclick="sortedPhoto('{% url 'sorting_all_photo_one_user' 'Not verified' %}')">Не проверенные фотографии</button>
        <button type="button" class="btn btn-outline-light btn-dark" onclick="sortedPhoto('{% url 'sorting_all_photo_one_user' 'Delete' %}')">Фотографии на удаление</button>
        <button type="button" class="btn btn-outline-light btn-dark" onclick="sortedPhoto('{% url 'sorting_all_photo_one_user' 'Update' %}')">Фотографии на обновление</button>
        <button type="button" class="btn btn-outline-light btn-dark" onclick="sortedPhoto('{% url 'sorting_all_photo_one_user' 'All photo' %}')">Все фотографии</button>
    </p>
    <div id="photoOneUser">
        <h1 class="text-center">Ваши фотографии</h1>
        <br>
        {% for photo_one in photo %}
            <div style="float: left; margin-right: 20px;">
                <div class="card" style="width: 18rem; height: 22rem;">
                    <a href="{{photo_one.get_absolute_url}}"><img src="{{photo_one.photo_510x510.url}}" width="290" height="175" class="card-img-top" alt="{{photo_one.content}}"></a>
                    <div class="card-body">
                        <a href="{{photo_one.get_absolute_url}}" class="text-decoration-none text-info"><p class="card-text">{{photo_one.name}}</p></a>
                    </div>
                    <div class="dropdown text-center">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{photo_one.id}}" data-toggle='dropdown' aria-expanded="false">
                        ...
                        </button>
                        {% if photo_one.state == 'Delete' %}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="{% url 'cancle_delete_photo' photo_one.id %}">Отменить удаление фотографии.</a></li>
                            </ul>
                        {% else %}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{% url 'delete_photo' photo_one.id %}">Удалить фотографию и все что к ней относится.</a></li>
                                <li><a class="dropdown-item" href="{% url 'loading_new_photo' photo_one.id %}">Обновить фотографию.</a></li>
                            </ul>
                        {% endif %}
                        {% if photo_one.state == 'Verified' %}
                            <div class="text-success">Фотография прошла проверку</div>
                        {% elif photo_one.state == 'Delete' %}
                            <div class="text-danger">Фотография на удаление</div>
                        {% elif photo_one.state == 'On check' %}
                            <div class="text-warning">Фотография на проверке</div>
                        {% elif photo_one.state == 'Update' %}
                            <div class="text-danger">Фотография не проверена (обновление)</div>
                        {% else %}
                            <div class="text-danger"> Фотография не проверена</div>
                        {% endif %}
                        <br><br>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        async function sortedPhoto(url){
                console.log("Worked AJAX in sorting photo " + url );
                let response = await fetch(url)
                if (response.ok){
                    console.log("Worked AJAX in sorting photo");
                    let result  = await response.text();
                    document.getElementById("photoOneUser").innerHTML = ''
                    document.getElementById("photoOneUser").innerHTML = result
                } else {
                    console.log("AJAX ERROR");
                }
            }
    </script>
{% endblock %}
